<header class="intro-header header3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Create New Post</h1>
                    <hr class="small">
                    <span class="subheading">use the form below to create a new blog post</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div><%= render "form" %></div>
        </div>
    </div>
</div>
